<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ZapLivre</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MESSAGE_STORE_URL</key>
	<string>https://store.associahub.com.br</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_p2p._udp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>ZapLivre precisa acessar a câmera para videochamadas</string>
	<key>NSContactsUsageDescription</key>
	<string>ZapLivre precisa acessar contatos para encontrar amigos</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>ZapLivre usa a rede local para descobrir e conectar com contatos próximos (P2P)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>ZapLivre precisa acessar o microfone para chamadas de voz</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Permite salvar fotos e vídeos recebidos na sua galeria</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ZapLivre precisa acessar fotos para compartilhar imagens</string>
	<key>SIGNALING_SERVER_URL</key>
	<string>wss://signaling.associahub.com.br/ws</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
